<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Notes</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Custom Navbar -->
    <nav class="navbar">
      <div class="navbar-container">
        <a class="navbar-brand" href="/">Book Notes</a>
        <ul class="navbar-menu">
          <li><a href="/add">Add Book</a></li>
          <li><a href="#" onclick="goToEdit()">Edit Book</a></li>
          <li><a href="#", onclick="goToDelete()">Delete Book</a></li>
          <li><a href="/faqs">FAQs</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-content">
      <% books_details.forEach(function(book) { %>
  <div class="books">
    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="cover page photo" />
    <h3 class="book_title"><%= book.book_title.toUpperCase() %> - BY <%= book.author.toUpperCase() %>
    </h3>
    <p class="date">
      DATE READ: <%= book.date_read %>. How strongly I recommend it: <%= book.rating %>/10
    </p>
    <p><%= book.summary %></p>
    <h3>My Notes</h3>
    <p><%=book.notes%></p>
  </div>
<% }); %>

    </div>
  </body>
</html>
